<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <!-- Wajib mendaftarkan kelas ClonerApp sebagai penanggung jawab utama aplikasi -->
    <application
        android:name=".ClonerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Multi Cloner Real"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.action.CATEGORY_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
